*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    display: flex;
    overflow:hidden;
    margin: 0%;
    justify-content: center;
    height: 100vh;
    
}
.main_section{
    background: url('pic1.jpg');
    /* no-repeat center center/cover ; */
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain, cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}
.loading_num{
    font-size: 80px;
    color: rgb(249, 246, 246);
}